.idea
target
node_modules
*.iml
*.DS_Store*
yarn.lock
package-lock.json
yarn-error.log
.classpath
.project
.mvn
.settings/
/test-report.xml
@log.file@*
.factorypath
.vscode
settings.json
/package-lock.json
